
$subText: #f33f3f;
$paraColor: #4a4a4a;
$sectionHeading: #1e1e1e;
$mainText: #fff;
$memberName:#1a6692;

body{
    font-family: 'Poppins', sans-serif;
}

*{
    box-sizing: border-box;
}
a{
    text-decoration: none;
}

// ################ Nav bar Style####################
header{
    background-color:#232323;
    height:80px;
    position: absolute;
    z-index: 999;
    width: 100%;
    align-items: center;
    transition: all 0.3s ease-in-out 0s;
    .navbar{
      padding: 1px 0px;
      i{
          color: white;
      }
    }
    h2{
        color: $mainText;
        em{
            color: $subText;
        }
        .nav-item{
            margin:5px 0px;
        }
    }
    .nav-item{
        margin:0px 10px;
        a{
            color: $mainText;
            // border-bottom: 3px solid $subText ;
            // opacity: 1;
            padding: 25px 0px;

        }
    }
}





         // ################Banner Style####################
.carousel{
    position: relative;
    padding-top: 80px;
   .carousel-item{
       background-size: cover;
       background-repeat: no-repeat;
       background-position: center;
       height: 600px;
       .banner-text{
        text-align: center;
        text-transform: uppercase;
        width: 100%;
        position: relative;
        top: 38%;
        align-content: center;
        align-self: center;
           h4{
               font-size: 22px;
               color: $subText;
           }
           h2{
               font-size: 62px;
               color: $mainText;
               letter-spacing: 5px;
           }
       }
   }
}
.banner-item-01{
    background-image: url("../images/slide_01.jpg");
  
}
.banner-item-02{
    background-image: url("../images/slide_02.jpg");
    
}

.banner-item-03{
    background-image: url("../images/slide_03.jpg");

}




    // ################Sections Style####################
.sections{
    margin:100px 0px; 
    .section-headings{
        border-bottom: 1px solid #eee;
        padding-bottom: 15px;
        margin-bottom: 60px;
        h2{
            font-size: 28px;
        }
    } 
    .product-section-heading{
      display: flex;
      justify-content: space-between;
      align-items: center;
      a{
          text-transform: uppercase;
          color: $subText;
          text-decoration: none;
      }
    }
    .card{
        margin-bottom: 35px;
        .card-body{
            padding: 30px;
        }
    }
    .card-text{
        color: $paraColor;
        font-size: 15px;
        font-weight: 300;
    }
    
}

   // ################Product-Section-Card-Style####################

.lastest-products{
    .card{
        .card-body{
            padding: 30px;
            .product-heading{
                display: flex;
                justify-content: space-between;
                align-items: center;
                h4{
                    font-size: 18px;
                    a{
                        text-decoration: none;
                    }
                }
                h6{
                    font-weight: bold;
            
                }
                
            }
            .product-rating{
                display: flex;
                justify-content: space-between;
                align-items: center;
                font-size:13px;
                color: $subText;
                .stars{
                    list-style: none;
                    display: flex;
                    padding: 0px;
                    margin:0px;
                }
                li{
                    margin:0px 2px;
                }
            }
         
        }
    }
}




 // ################Team-Section-Card-Style####################
.team-section{
    .thumb-container{
        position: relative;
        .hover-effect{
            position: absolute;
            background-color: rgba(243,63,63,0.9);
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            opacity: 0;
            visibility: hidden;
            transition: all .5s;
        
        .hover-content{
            position: absolute;
            display: inline-block;
            width: 100%;
            text-align: center;
            top: 50%;
            transform: translateY(-50%);
            .social-icons{
                list-style: none;
                display: flex;
                width: 100%;
                justify-content: center;
                text-align: center;
                padding:0px;
                li{
                    display: inline-block;
                    margin-right: 3px;
                    a{
                        width: 50px;
                        height: 50px;
                        display: inline-block;
                        line-height: 50px;
                        background-color: #eee;
                        color: #121212;
                        font-size: 18px;
                        text-align: center;
                        transition: all .3s;
                    }
                }
        
            }
        }
    }
}
    
    .team-info{
        text-align: center;
        .card-title{
            color:$memberName;
            font-size:17px;

        }
        span{
            color: $subText;
            font-size:15px;
        }
    }
}

.team-member:hover .hover-effect{
    visibility: visible ;
    opacity: 1;
}

  // ################Services-Section-Style####################
.services-section{
    background-image: url("../images/services-bg.jpg");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    padding: 100px 0px;
    .service-item{
        margin: 15px 0px;
    }
    .icon{
        padding: 40px;
        background-color: #f7f7f7; 
        text-align: center;
        i{
            background-color: #f33f3f;
            font-size: 30px;
            color: #fff;
            padding: 30px;
        
        }
    }
    .down-content{
        padding:40px 30px;
        text-align: center;
        background-color: #fff;
        h4{
            color: $memberName;
            font-size:18px;
            margin-bottom: 20px;
        }
        p{
            color: $paraColor;
            font-size: 15px;
            font-weight: 300;
            margin-bottom: 20px;
        }
        a{
            display: inline-block;
            background-color: $subText;
            color: $mainText;
            padding: 15px;
            margin: 10px 0px;
            border-radius: 10px;
            text-decoration: none;
        }
    }
    
}




 // ################ContactUs-Form-Style####################
.form-div{
    .form-group{
        margin-bottom: 30px;
    }
    button{
        background-color: $subText;
        padding: 15px;
        color: $mainText;
        border-radius: 5px;
        cursor: pointer;
    }
    
}

.send-message{
    #accordion{
        margin-left: 30px;
        .card:first-child{
            border-top: 1px solid #eee;
        }
        .card{
            margin-bottom: 0px;
            border: none;
            border-bottom: 1px solid #eee;
            .card-header{
                background-color: #fff;
                border: none;
                padding-left: 0px;
                cursor: pointer;
                h6{
                    color: $memberName;
                    font-size: 20px;
                }
            }
            .card-body{
                padding: 0;
                p{
                    margin-bottom: 10px;
                    font-size: 14px;
                    font-weight: 300;
                    color: #4a4a4a;
                    line-height: 24px;
                }
            }
        }

    }
}



// Nav bar Jquery Styling
.scrollNav{
    position: fixed;
    top: 0;
    background-color: white;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.1);
    z-index: 9999;
    .navbar{
        i{
            color: $subText;
        }
        h2{
            color: $sectionHeading;
            em{
                color: $subText;
            }
        }
        .nav-item{
            a{
                color: $sectionHeading;
                
            }
        }
        .nav-item:active{
            color: $subText;
        }
    }
}




// Media Queries
@media screen and (max-width: 425px){
    #myCarousel{
        .carousel-item{
            height: 600px;
            .banner-text{
                width: 90%;
                top: 32%;
                margin:auto;
                h2{
                   font-size: 50px;
                }
            }
        }
    }
    .navbar{
        li{
            background-color: $mainText;
            margin: 0px;
            text-align: center;
            a{
                color: $sectionHeading;
                border-bottom: 1px solid #eee;
            }
        }
    }
    .lastest-products{
        .product-section-heading{
            display: block;
        }
    }
}