

.banner-item-01 {
    background-image: url(../images/slide_01.jpg);
    padding: 300px;
	
}

.banner-item-02 {

    background-image: url(../images/slide_02.jpg);
    padding: 300px;
	
}
.banner-item-03 {
	
    background-image: url(../images/slide_03.jpg);
    padding: 300px;
	
}